body {
    background-color: black;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }        

    @font-face { 
        font-family: adelia; 
        src: url(ADELIA.otf) }

     @font-face { 
            font-family: winkle; 
            src: url(Winkle-Regular.ttf) }

H1 {
    font-family:adelia;
    color:orange;
    text-align: center;
}

h2 {
    font-family: winkle;
    font-size: 40px;
    color: white;
    background-color: #b4000F;
    padding: 15px;
}

h4 {
    font-family: winkle;
     font-size: 30px;
     color:#B4000F
}


a:link {
    color:#F9EEC9
}

a:hover {
    color: #E4B455;
}

table {
    background-color: #90a74c;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}

.bottom {
    text-align:center
}

button {
    font-family: winkle;
    text-align: center;
    color: white;
    background-color:green;
    border:0px;
    padding:10px 30px 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: black;
}

td {padding-left: 10px;
    padding-right: 10px;
}    

Fieldset {
    background-color: #90a74c;
    border: 0;
    padding: 20px 10px 20px 10px;
}

label {color:#B4000F;
font-weight: bold;}

legend {
    font-family: winkle;
    font-size: 30px
}

input:focus, textarea:focus, select:focus {
    background-color:#F9EEC9
}

#thank {
    text-align:center;
}

